//Text
$base__font-size: 16px;
$base__line: 24px;

$font-family--primary: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue';
$font-family--secondary: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto;

//Colors

$blue: #003bde;
$red: #f44336;
$white: #ffffff;
$dark-black: #000000;
$black: #333333;
$gray: #999999;
$light-blue: #03a9f4;
$yellow: #fdc228;
$green: #61d079;
$violet: #9c27b4;
$dark-gray: #3c4858;
$light: #777777;

//Message Colors
$error: lighten($red, 5%) !default;
$success: $green !default;
$edit: $yellow !default;

$palettes: (
  black-shades: (
    base: $dark-black,
    mid: darken($dark-black, 50%),
    dark: darken($dark-black, 30%),
    light: lighten($dark-black, 30%)
  ),
  blue-shades: (
    base: $blue,
    dark: darken($blue, 20%),
    light: lighten($blue, 20%)
  )
);

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;

//Font size variables
$default-font-size: $base__font-size - 2px;
$s-font-size: $default-font-size - 2px;
$xs-font-size: $default-font-size - 4px;
$lg-font-size: $default-font-size + 2px;

//Heading font size vairables
$heading-line-height: 28px !default;
$head1-font-size: 36px !default;
$head2-font-size: $head1-font-size - 4px !default;
$head3-font-size: 20px !default;
$head4-font-size: 12px !default;

// colors
$color-default: $white;
$color-primary: $violet;
$color-info: $light-blue;
$color-success: $green;
$color-warn: $yellow;
$color-danger: $red;

//Color Usage
$accent-color: $gray;
$shadow-color: rgba($black, 0.2);
$border-color: $gray;
$color-text: $dark-black;
$color-title: $dark-gray;
$color-link: $dark-black;
$color-disabled: $light;
$color-border: #e8e8e8;
$background-color: $white;
