.logo {
  width: 91px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.avatar {
  @include e(photo) {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.icon {
  color: $lighter;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    color: $black;
  }

  @include m(yellow) {
    color: $color-warn;
  }

  @include m(center) {
    @extend %flex-center;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  @include m(rounded) {
    @extend %flex-center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fdc22829;
  }

  @include e(text) {
    font-size: 11px;
    line-height: 13px;
    color: $light;
    padding-left: 8px;
  }
}

.options {
  display: flex;
  align-items: center;

  @include e(item) {
    display: flex;
    align-items: center;
    margin-left: 20px;

    @include m(left) {
      margin-left: 0;
      margin-right: 20px;
    }

    @include m(space-12) {
      margin-left: 12px;
    }
  }
}
