.logo {
  width: 91px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.avatar {
  @include e(photo) {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
