.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  width: 100%;
  margin: 0 auto;
  max-width: 1541px;
}

/* Primary container with 290px spacing on the left*/
.container-1 {
  margin: 0 auto;
  width: 100%;
  max-width: 1046px;
  padding: 0 30px;

  @include mq('xl') {
    margin-left: 290px;
    padding: 0;
  }
}

/* Container covering the whole page*/
.container-2 {
  margin-left: 80px;
  margin-right: 54px;
}

/* Primary container without 290px spacing on the left*/
.container-3 {
  width: 100%;
  max-width: 1046px;
}

.container-popup {
  max-width: 590px;
  width: 100%;
}

.container-dataset-info {
  max-width: 394px;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include m(center) {
    justify-content: center;
  }

  @include m(left) {
    justify-content: flex-start;
  }

  @include m(right) {
    justify-content: flex-end;
  }

  @include m(top) {
    align-items: flex-start;
  }

  @include m(bottom) {
    align-items: flex-end;
  }
}

.form {
  max-width: 541px;
  width: 100%;
  margin: 0 auto;

  @include mq('lg') {
    margin-left: 0;
  }
}
