.folder {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  cursor: pointer;
  min-height: 70px;
  margin-bottom: 18px;

  &:hover {
    background: $lightest;
  }

  @include m(add-folder) {
    border: 1px dashed #e8e8e8;
    background-color: $white;
    color: $lighter;
  }

  @include e(container) {
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
  }

  @include e(icon) {
    color: $light;
    padding-right: 24px;
    font-size: 20px;
  }

  @include e(info) {
    padding-bottom: 16px;
  }

  @include e(name) {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
    padding-right: 16px;

    max-width: 160px;
    @extend %ellipsis;
  }

  @include e(details) {
    font-size: 11px;
    line-height: 13px;
    color: $light;
  }
}
