.header {
  box-shadow: 0px 1px 0px $color-shadow;
  flex-direction: row;
  align-items: center;

  @include e(logo) {
    padding-top: 16px;
    padding-left: 30px;
  }

  @include e(options) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 30px;

    //arbitrary
    margin-left: 20px;

    @include mq('lg') {
      margin-left: 169px;
    }
  }

  @include e(nav) {
    align-items: stretch;
  }

  @include e(profile) {
    display: flex;
    align-self: center;
  }
}
