.header {
  box-shadow: 0px 1px 0px #e8e8e8;
  flex-direction: row;
  align-items: center;

  @include e(logo) {
    padding-top: 16px;
  }

  @include e(options) {
    margin-left: 169px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  @include e(nav) {
    align-self: flex-end;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include e(link) {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    margin-right: 65px;
    padding: 20px 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #eee;
    }

    @include m(active) {
      padding-bottom: 17px;
      border-bottom: 3px solid $blue;
    }

    @include m(disabled) {
      opacity: 0.2;
    }
  }
}

.profile {
  display: flex;

  @include e(image) {
    margin-right: 12px;
  }

  @include e(info) {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
    margin-right: 8px;
    align-self: center;
    color: rgba(0, 0, 0, 0.7);
    &:hover {
      cursor: pointer;
    }
  }

  @include e(icon) {
    color: rgba(0, 0, 0, 0.3);
  }
}
