.header {
  box-shadow: 0px 1px 0px $color-shadow;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #fff;

  @include e(logo) {
    padding-top: 16px;
    padding-left: 30px;
  }

  @include e(options) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    padding: 20px;

    //arbitrary
    margin-left: 20px;

    @include mq('lg') {
      margin-left: 169px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      padding: 0;
      padding-right: 30px;
    }
  }

  /* toggle container*/

  @include e(toggle-container) {
    display: none;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;

    @include mq('lg') {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    @include m(show) {
      display: flex;
    }
  }

  /* Navigation tabs*/

  @include e(nav) {
    align-items: stretch;
  }

  @include e(item) {
    display: flex;
    align-self: center;
  }

  /* Burger menu*/

  @include e(toggle-icon) {
    color: $black;
    margin: 0;
    display: flex;
    align-items: center;
    order: -1;

    @include mq('lg') {
      display: none;
    }
  }
}
