%border {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.input {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;

  @include e(field) {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;

    @extend %border;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      outline: none;
    }
  }

  select {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0px 10px 20px;
    color: rgba(0, 0, 0, 0.5);

    @extend %border;
  }

  input {
    @extend .input__field;
    padding: 14px 0 13px 20px;
    color: $black;
  }

  textarea {
    @extend .input__field;
    padding: 14px 0 13px 20px;
    color: $black;

    resize: none;
    min-height: 112px;
  }

  @include m(small) {
    padding-bottom: 0;

    select {
      font-size: 11px;
      line-height: 13px;
      margin: 0;
      padding: 0;
      padding: 6px 12px;
      box-sizing: border-box;

      option {
        border: none;
      }
    }
  }
}
