.input-tab {
  color: $black;

  @include e(input-tag) {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  @include m(disabled) {
    opacity: 0.5;
  }

  @include e(label) {
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom: 12px;
    display: inline-block;
  }

  @include e(tab) {
    border: 1px dashed rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    padding: 20px;
    width: 258px;

    &:hover,
    :focus {
      cursor: pointer;
      border-style: solid;
    }

    @include m(2x) {
      width: 540px;
    }
  }

  @include e(icon) {
    width: 24px;
    height: 24px;
    margin-right: 16px;

    @extend %flex-center;
  }

  @include e(details) {
    flex-grow: 1;
  }

  @include e(title) {
    padding-right: 4px;
    padding-bottom: 6px;
  }

  @include e(info) {
    font-size: 11px;
    line-height: 13px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  @include m(disabled) {
    opacity: 0.4;
  }
}

.uploaded {
  color: $black;

  @include m(disabled) {
    opacity: 0.5;
  }

  @include e(label) {
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom: 12px;
    display: inline-block;
  }

  @include e(tab) {
    border: 1px dashed rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    padding: 20px;
    width: 258px;

    &:hover,
    :focus {
      cursor: pointer;
      border-style: solid;
    }

    @include m(2x) {
      width: 540px;
    }
  }

  @include e(icon) {
    width: 24px;
    height: 24px;
    margin-right: 16px;

    @extend %flex-center;
  }

  @include e(details) {
    flex-grow: 1;
  }

  @include e(title) {
    padding-right: 4px;
    padding-bottom: 6px;
  }

  @include e(info) {
    font-size: 11px;
    line-height: 13px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  @include m(disabled) {
    opacity: 0.4;
  }
}
