.input {
  padding-bottom: 20px;
  color: $light;
  mix-blend-mode: normal;

  select {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0px 10px 20px;
    color: $light;

    @extend %border;
  }

  input {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0 13px 20px;
    color: $black;

    @extend %border;

    &::placeholder {
      color: $light;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0 13px 20px;
    color: $black;

    resize: none;
    min-height: 112px;

    @extend %border;

    &::placeholder {
      color: $light;
    }

    &:focus {
      outline: none;
    }
  }

  @include m(small) {
    padding-bottom: 0;

    select {
      font-size: 11px;
      line-height: 13px;
      margin: 0;
      padding: 0;
      padding: 6px 12px;

      option {
        border: none;
      }
    }
  }
}
