.input {
  padding-bottom: 20px;
  color: $light;
  mix-blend-mode: normal;

  select {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0px 10px 20px;
    color: $light;
    background-color: $white;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: url(../../assets/arrow_drop_down.png) no-repeat right;
    background-size: 24px 24px;
    background-position: 98%;
    @extend %border;
  }

  input {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0 13px 20px;
    color: $black;

    @extend %border;

    &::placeholder {
      color: $light;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    display: block;
    padding: 14px 0 13px 20px;
    color: $black;

    resize: none;
    min-height: 112px;

    @extend %border;

    &::placeholder {
      color: $light;
    }

    &:focus {
      outline: none;
    }
  }

  @include m(small) {
    padding-bottom: 0;

    select {
      font-size: 11px;
      line-height: 13px;
      margin: 0;
      padding: 0;
      padding: 8px 12px 7px 12px;
      background-size: 18px 18px;
      background-position: 95%;

      option {
        border: none;
      }
    }
  }
}
