.nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @include mq('lg') {
    flex-direction: row;
  }

  @include e(link) {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;

    &:last-child {
      margin-right: 0;
    }

    @include m(active) {
      @include mq('lg') {
        border-bottom: 3px solid $blue;
      }
    }

    @include m(disabled) {
      opacity: 0.2;
      cursor: default;
    }

    @include mq('lg') {
      margin-right: 65px;
      text-align: left;
      padding-bottom: 0;
    }
  }
}
