.page {
  width: 100%;
  padding-bottom: 272px;

  //for fixed header
  margin-top: 100px;

  @include e(header) {
    padding-top: 40px;
    padding-bottom: 20px;

    @include m(bottom-border) {
      padding-bottom: 22px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  @include e(title) {
    text-transform: capitalize;
  }

  @include e(title-icon) {
    margin-left: 16px;
    color: #80868b;
  }

  @include e(content) {
    padding-top: 32px;
  }

  @include e(back-button) {
    margin-right: 18px;
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.7);
  }
}
