/* status block starts*/
.status {
  color: $light;

  @include m(success) {
    color: $color-success;
  }

  @include m(warn) {
    color: $color-warn;
  }

  @include m(danger) {
    color: $color-danger;
  }

  @include e(text) {
    font-size: 16px;
    line-height: 19px;

    text-transform: capitalize;
  }

  @include e(icon) {
    margin-right: 8px;
  }
}
/* status block ends*/
