.table {
  //needs fixing

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.090991);
  border-radius: 4px;
  margin-bottom: 24px;

  background-image: linear-gradient(#ffffff00, #ffffff);

  @include e(column) {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;

    @include m(header) {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }

  @include e(row) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0 11px 0;
  }
}
