.table {
  width: 100%;

  @include e(header) {
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 17px;
    text-transform: uppercase;
    color: $light;

    padding: 0 10px;
  }

  @include e(body) {
    tr {
      box-shadow: 0px 1px 0px #e8e8e8, 0px -1px 0px #e8e8e8;
    }

    td {
      padding: 18px 10px;
    }
  }

  @include e(icon) {
    cursor: pointer;
    color: $light;
  }

  @include e(icon-container) {
    a:not(:last-child) {
      margin-right: 24px;
    }
  }

  @include e(item-name) {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    cursor: pointer;
    /* max width for ellipsis effect*/
    max-width: 100px;

    @extend %ellipsis;

    &:not(:first-child) {
      margin-left: 24px;
    }

    @include mq('lg') {
      max-width: 400px;
    }

    @include mq('md') {
      max-width: 200px;
    }
  }

  @include e(flex) {
    display: flex;
    align-items: center;
  }
}

.table-csv {
  width: 100%;
  border: 1px solid $lightest;
  box-shadow: 0px 4px 4px $lightest;
  border-radius: 4px;
  padding-bottom: 36px;

  td,
  th {
    border-bottom: 1px solid $lightest;
  }

  @include e(header) {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: $black;

    th {
      padding: 12px 0;
    }
  }

  @include e(row) {
    td {
      padding-top: 22px;
      vertical-align: top;
      text-align: center;
    }
  }
}
