.table {
  width: 100%;

  @include e(header) {
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 17px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }

  @include e(body) {
    tr {
      box-shadow: 0px 1px 0px #e8e8e8, 0px -1px 0px #e8e8e8;
    }

    td {
      padding: 18px 0;
    }
  }

  @include e(icon) {
    padding-right: 25px;
    cursor: pointer;
    i {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  @include e(icon-container) {
    a:not(:last-child) {
      margin-right: 23px;
    }
  }

  @include e(item-name) {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
